.historic{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    border: 2px solid #253A6A;
    border-collapse: collapse;
}