#navbar {
    height: 100px;
    width: 100%;
    background: #0F182B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-size: 50px;
}

#dropdown {
    margin-right: 30px;
    background: #F0CE86;
    height: 30px;
    width: 190px;
}

#quit-icon{
    color: black!important;
    margin-bottom: 2px;
}