#scoreboard, #scoreboard td, #scoreboard th {
    border: 2px solid #253A6A;
    border-collapse: collapse;
}

#scoreboard {
    font-size: 50px;
    width: 400px;
    height: 250px;
    background: #1B2A4B;
}

#scoreboard th {
    height: 70px;
}
#scoreboard td {
    height: 200px;
    width: 200px;
}

