@import "custom";

#root {
  font-family: sans-serif;
  text-align: center;
  background: #15223C;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}