.game-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

#tictactoe {
  font-size: 80px;
  background: #1B2A4B;
  width: 100%;
  height: 100%;
}

#tictactoe td {
  height: 33%;
  width: 33%;
}

#tictactoe, #tictactoe td{
  border: 3px solid #253A6A;
  border-collapse: collapse;
}

#game {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

#overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  background: black;
}

#gameFrame{
  position: relative;
  width: 35%;
}

#text{
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  background-color: #B17B06; /* Gold */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.button:hover{
  background-color: #F0CE86;
  color: black;
}

/*petits écrans d'ordinateurs*/
@media screen and (max-width: 1439px) {

  #historicFrame{
    display: none;
  }
}

/*écran de tablette*/
@media screen and (max-width: 1023px) {

  #historicFrame{
    display: none;
  }

  #scoreFrame{
    display: none;
  }

  #gameFrame{
    width: 70%;
  }
}

/*écran de téléphone*/
@media screen and (max-width: 425px) {

  #historicFrame{
    display: none;
  }

  #scoreFrame{
    display: none;
  }

  #gameFrame{
    width: 95%;
  }

  #tictactoe{
    font-size: 60px !important;
  }
}